<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" version="1.1.0" name="A-2084-01">
  <xacro:arg name="prefix" default=""/>
  <!-- HEBI A-2084-01 Arm Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/components/hebi.xacro"/>
  <link name="$(arg prefix)base_link"/>
  <joint name="$(arg prefix)base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)J1_base/INPUT_INTERFACE"/>
  </joint>
  <xacro:actuator type="X5_4" name="$(arg prefix)J1_base" child="$(arg prefix)shoulder_bracket"/>
  <xacro:bracket type="X5HeavyRightOutside" name="$(arg prefix)shoulder_bracket" child="$(arg prefix)J2_shoulder"/>
  <xacro:actuator type="X5_9" name="$(arg prefix)J2_shoulder" child="$(arg prefix)shoulder_elbow"/>
  <xacro:link type="X5" extension="0.325" twist="${pi/2}" name="$(arg prefix)shoulder_elbow" child="$(arg prefix)J3_elbow"/>
  <xacro:actuator type="X5_4" name="$(arg prefix)J3_elbow" child="$(arg prefix)elbow_wrist"/>
  <xacro:link type="X5" extension="0.325" twist="0" name="$(arg prefix)elbow_wrist" child="$(arg prefix)J4_wrist"/>
  <xacro:actuator type="X5_1" name="$(arg prefix)J4_wrist" child="end_effector"/>
  <xacro:gripper type="Custom" name="end_effector" mass="0.005"/>
</robot>
