<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.2.0" name="a-2085-05">
  <xacro:include filename="$(find hebi_description)/urdf/hebi.xacro"/>
  <!-- HEBI a-2085-05 Style Arm Kit -->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="Arm/base/INPUT_INTERFACE"/>
  </joint>
  <xacro:actuator type="X8_9" name="Arm/base" child="shoulder_bracket"/>
  <xacro:bracket type="X5HeavyRightOutside" name="shoulder_bracket" child="Arm/shoulder"/>
  <xacro:actuator type="X8_16" name="Arm/shoulder" child="shoulder_elbow"/>
  <xacro:link type="X5" extension="0.325" twist="${pi}" name="shoulder_elbow" child="Arm/elbow"/>
  <xacro:actuator type="X8_9" name="Arm/elbow" child="elbow_wrist1"/>
  <xacro:link type="X5" extension="0.325" twist="${pi}" name="elbow_wrist1" child="Arm/wrist1"/>
  <xacro:actuator type="X5_1" name="Arm/wrist1" child="wrist2_bracket"/>
  <xacro:bracket type="X5LightRight" name="wrist2_bracket" child="Arm/wrist2"/>
  <xacro:actuator type="X5_1" name="Arm/wrist2" child="end_effector"/>
  <xacro:gripper type="Custom" name="end_effector"/>
</robot>
