<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.1.0" name="a-2085-06">
  <xacro:include filename="$(find hebi_description)/urdf/hebi.xacro"/>
  <!-- HEBI a-2085-06 Style Arm Kit -->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="HEBI/base/INPUT_INTERFACE"/>
  </joint>
  <xacro:actuator type="X8_9" name="HEBI/base" child="shoulder_bracket"/>
  <xacro:bracket type="X5HeavyRightOutside" name="shoulder_bracket" child="HEBI/shoulder"/>
  <xacro:actuator type="X8_16" name="HEBI/shoulder" child="shoulder_elbow"/>
  <xacro:link type="X5" extension="0.325" twist="${pi}" name="shoulder_elbow" child="HEBI/elbow"/>
  <xacro:actuator type="X8_9" name="HEBI/elbow" child="elbow_wrist1"/>
  <xacro:link type="X5" extension="0.325" twist="${pi}" name="elbow_wrist1" child="HEBI/wrist1"/>
  <xacro:actuator type="X5_1" name="HEBI/wrist1" child="wrist2_bracket"/>
  <xacro:bracket type="X5LightRight" name="wrist2_bracket" child="HEBI/wrist2"/>
  <xacro:actuator type="X5_1" name="HEBI/wrist2" child="wrist3_bracket"/>
  <xacro:bracket type="X5LightRight" name="wrist3_bracket" child="HEBI/wrist3"/>
  <xacro:actuator type="X5_1" name="HEBI/wrist3" child="end_effector"/>
  <xacro:gripper type="Custom" name="end_effector"/>
</robot>
