<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="A-2240-06">
  <xacro:arg name="prefix" default=""/>
  <!-- HEBI A-2240-06 Arm Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/components/hebi.xacro"/>
  <link name="$(arg prefix)base_link"/>
  <joint name="$(arg prefix)base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)J1_base/body"/>
  </joint>
  <xacro:actuator type="R8_16" name="$(arg prefix)J1_base" child="$(arg prefix)bracket_1"/>
  <xacro:bracket type="R8HeavyRightOutside" name="$(arg prefix)bracket_1"/>
  <xacro:output type="R8HeavyRightOutside" parent="$(arg prefix)bracket_1" child="$(arg prefix)J2_shoulder/body" name="$(arg prefix)bracket_1_J2_shoulder"/>
  <xacro:actuator type="R8_16" name="$(arg prefix)J2_shoulder" child="$(arg prefix)link_1"/>
  <xacro:link type="R8" extension="0.325" twist="${pi}" name="$(arg prefix)link_1" child="$(arg prefix)J3_elbow/body"/>
  <xacro:actuator type="R8_16" name="$(arg prefix)J3_elbow" child="$(arg prefix)link_2"/>
  <xacro:link type="R8" extension="0.325" twist="${pi}" name="$(arg prefix)link_2" child="$(arg prefix)J4_wrist1/body"/>
  <xacro:actuator type="R8_3" name="$(arg prefix)J4_wrist1" child="$(arg prefix)bracket_2"/>
  <xacro:bracket type="R8LightRight" name="$(arg prefix)bracket_2"/>
  <xacro:output type="R8LightRight" parent="$(arg prefix)bracket_2" child="$(arg prefix)J5_wrist2/body" name="$(arg prefix)bracket_2_J5_wrist2"/>
  <xacro:actuator type="R8_3" name="$(arg prefix)J5_wrist2" child="$(arg prefix)bracket_3"/>
  <xacro:bracket type="R8LightRight" name="$(arg prefix)bracket_3"/>
  <xacro:output type="R8LightRight" parent="$(arg prefix)bracket_3" child="$(arg prefix)J6_wrist3/body" name="$(arg prefix)bracket_3_J6_wrist3"/>
  <xacro:actuator type="R8_3" name="$(arg prefix)J6_wrist3" child="$(arg prefix)end_effector_1"/>
  <xacro:gripper mass="0.01" name="$(arg prefix)end_effector_1"/>
</robot>
