<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="A-2303-01G">
  <xacro:arg name="prefix" default=""/>
  <!-- HEBI A-2303-01G Arm Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/components/hebi.xacro"/>
  <link name="$(arg prefix)base_link"/>
  <joint name="$(arg prefix)base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)J1_base"/>
  </joint>
  <xacro:actuator type="R8_16" name="$(arg prefix)J1_base" child="$(arg prefix)B1"/>
  <xacro:bracket type="R8HeavyLeftOutside" name="$(arg prefix)B1"/>
  <xacro:output type="R8HeavyLeftOutside" parent="$(arg prefix)B1" child="$(arg prefix)J2_shoulder1A" name="$(arg prefix)B1_J2_shoulder1A"/>
  <xacro:actuator type="R8_16" name="$(arg prefix)J2_shoulder1A" child="$(arg prefix)RB1"/>
  <xacro:rigid-body mass="0.500" com_trans="0.06 0 -0.08855" name="$(arg prefix)RB1"/>
  <xacro:output trans="0.122 0 -0.08855" rot="3.1416 -1.5708 0" parent="$(arg prefix)RB1" child="$(arg prefix)J3_shoulder2" name="$(arg prefix)RB1_J3_shoulder2"/>
  <xacro:actuator type="R8_9" name="$(arg prefix)J3_shoulder2" child="$(arg prefix)L1"/>
  <xacro:link type="R8" input="Inline" extension="0.325" twist="0" name="$(arg prefix)L1" child="$(arg prefix)J4_elbow1" output="RightAngle"/>
  <xacro:actuator type="R8_16" name="$(arg prefix)J4_elbow1" child="$(arg prefix)B2"/>
  <xacro:bracket type="R8LightRight" name="$(arg prefix)B2"/>
  <xacro:output type="R8LightRight" parent="$(arg prefix)B2" child="$(arg prefix)J5_elbow2" name="$(arg prefix)B2_J5_elbow2"/>
  <xacro:actuator type="R8_9" name="$(arg prefix)J5_elbow2" child="$(arg prefix)L2"/>
  <xacro:link type="R8" input="Inline" extension="0.325" twist="0" name="$(arg prefix)L2" child="$(arg prefix)J6_wrist1" output="RightAngle"/>
  <xacro:actuator type="R8_3" name="$(arg prefix)J6_wrist1" child="$(arg prefix)B3"/>
  <xacro:bracket type="R8LightRight" name="$(arg prefix)B3"/>
  <xacro:output type="R8LightRight" parent="$(arg prefix)B3" child="$(arg prefix)J7_wrist2" name="$(arg prefix)B3_J7_wrist2"/>
  <xacro:actuator type="R8_3" name="$(arg prefix)J7_wrist2" child="$(arg prefix)EE1"/>
  <xacro:gripper type="R8Parallel" name="$(arg prefix)EE1" mass="0.01"/>
</robot>
