<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mecanum_base">
  <!-- Mecanum Drive Mobile Base Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/components/hebi.xacro"/>

  <!-- Base Link -->
  <link name="base_link"/>
  <joint name="mecanum_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link" />
    <child link="mecanum_base"/>
  </joint>

  <!-- Footprint -->
  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.075" rpy="0 0 0"/>
  </joint>

  <!-- Chassis -->
  <link name="mecanum_base">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/A-2313-01-xt.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/A-2313-01-xt.obj" />
      </geometry>
    </collision>
    <inertial>
      <mass value="5"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.00015"  ixy="0.0000341"  ixz="0.0000118"
                  iyy="0.000255" iyz="0.00000229"
                  izz="0.000350" />
    </inertial>
  </link>

  <!-- Front-Right Wheel -->
  <joint name="frontRight_joint" type="fixed">
    <origin xyz="0.2355 -0.13 -0.073" rpy="0 ${pi/2} ${-pi/2}" />
    <parent link="mecanum_base" />
    <child link="frontRight/body"/>
  </joint>
  <xacro:actuator type="R8_3" name="frontRight" child="frontRight_end"/>
  <link name="frontRight_end">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_right.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_right.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00015"  ixy="0.0000341"  ixz="0.0000118"
               iyy="0.000255" iyz="0.00000229"
               izz="0.000350" />
    </inertial>
  </link>  

  <!-- Front-Left Wheel -->
  <joint name="frontLeft_joint" type="fixed">
    <origin xyz="0.2355 0.13 -0.073" rpy="0 ${pi/2} ${pi/2}" />
    <parent link="mecanum_base" />
    <child link="frontLeft/body"/>
  </joint>
  <xacro:actuator type="R8_3" name="frontLeft" child="frontLeft_end"/>
  <link name="frontLeft_end">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_left.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_left.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00015"  ixy="0.0000341"  ixz="0.0000118"
               iyy="0.000255" iyz="0.00000229"
               izz="0.000350" />
    </inertial>
  </link> 
  
  <!-- Back-Left Wheel -->
  <joint name="backLeft_joint" type="fixed">
    <origin xyz="-0.2355 0.13 -0.073" rpy="0 ${pi/2} ${pi/2}" />
    <parent link="mecanum_base" />
    <child link="backLeft/body"/>
  </joint>
  <xacro:actuator type="R8_3" name="backLeft" child="backLeft_end"/>
  <link name="backLeft_end">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_left.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_left.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00015"  ixy="0.0000341"  ixz="0.0000118"
               iyy="0.000255" iyz="0.00000229"
               izz="0.000350" />
    </inertial>
  </link> 

  <!-- Back-Right Wheel -->
  <joint name="backRight_joint" type="fixed">
    <origin xyz="-0.2355 -0.13 -0.073" rpy="0 ${pi/2} ${-pi/2}" />
    <parent link="mecanum_base" />
    <child link="backRight/body"/>
  </joint>
  <xacro:actuator type="R8_3" name="backRight" child="backRight_end"/>
  <link name="backRight_end">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_right.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find hebi_description)/meshes/mecanum_wheel_right.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00015"  ixy="0.0000341"  ixz="0.0000118"
               iyy="0.000255" iyz="0.00000229"
               izz="0.000350" />
    </inertial>
  </link>

</robot>
