<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" description="Treadward" name="Treadward">
  <xacro:arg name="prefix" default=""/>
  <!-- HEBI Treadward Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/components/hebi.xacro"/>
  <xacro:rigid-body mass="30" mesh_path="file://$(find hebi_description)/meshes/A-2682-01.stl" mesh_rot="0 0 0" mesh_trans="0 0 0" name="$(arg prefix)chassis"/>

  <xacro:output rot="1.5708 -0.7854 3.1416" trans="0.320 0.220 -0.0638" parent="$(arg prefix)chassis" child="$(arg prefix)T1_mount" name="$(arg prefix)chassis_T1_mount"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T1_mount"/>
  <xacro:output parent="$(arg prefix)T1_mount" child="$(arg prefix)T1_J1_interface" name="$(arg prefix)T1_mount_T1_J1_flipper"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T1_J1_interface"/>
  <xacro:actuator type="R25_40" reverse="true" name="$(arg prefix)T1_J1_flipper" parent="$(arg prefix)T1_J1_interface" child="$(arg prefix)T1_track_frame"/>
  <xacro:rigid-body mass="2.0" mesh_path="file://$(find hebi_description)/meshes/A-2684-01.stl" mesh_trans="-0.2 0 0.025" mesh_rot="3.1416 0 0" name="$(arg prefix)T1_track_frame"/>
  <xacro:output trans="-0.4039 0 0.052" rot="3.1416 0 3.1416" parent="$(arg prefix)T1_track_frame" child="$(arg prefix)T1_J2_track/body" name="$(arg prefix)T1_track_frame_T1_J2_track"/>
  <xacro:actuator type="R25_20" name="$(arg prefix)T1_J2_track" child="$(arg prefix)T1_sprocket"/>
  <xacro:rigid-body mass="0.2" mesh_path="file://$(find hebi_description)/meshes/PM-3346-01.stl" name="$(arg prefix)T1_sprocket"/>
  <xacro:output parent="$(arg prefix)T1_sprocket" child="$(arg prefix)end_effector_1" name="$(arg prefix)T1_sprocket_end_effector_1"/>
  <xacro:gripper name="$(arg prefix)end_effector_1"/>

  <xacro:output rot="-1.5708 -0.7854 -3.1416" trans="0.320 -0.220 -0.0638" parent="$(arg prefix)chassis" child="$(arg prefix)T2_mount" name="$(arg prefix)chassis_T2_mount"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T2_mount"/>
  <xacro:output parent="$(arg prefix)T2_mount" child="$(arg prefix)T2_J1_interface" name="$(arg prefix)T2_mount_T2_J1_flipper"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T2_J1_interface"/>
  <xacro:actuator type="R25_40" reverse="true" name="$(arg prefix)T2_J1_flipper" parent="$(arg prefix)T2_J1_interface" child="$(arg prefix)T2_track_frame"/>
  <xacro:rigid-body mass="2.0" mesh_path="file://$(find hebi_description)/meshes/A-2684-01.stl" mesh_trans="-0.2 0 0.025" mesh_rot="3.1416 0 0" name="$(arg prefix)T2_track_frame"/>
  <xacro:output trans="-0.4039 0 0.052" rot="3.1416 0 3.1416" parent="$(arg prefix)T2_track_frame" child="$(arg prefix)T2_J2_track/body" name="$(arg prefix)T2_track_frame_T2_J2_track"/>
  <xacro:actuator type="R25_20" name="$(arg prefix)T2_J2_track" child="$(arg prefix)T2_sprocket"/>
  <xacro:rigid-body mass="0.2" mesh_path="file://$(find hebi_description)/meshes/PM-3346-01.stl" name="$(arg prefix)T2_sprocket"/>
  <xacro:output parent="$(arg prefix)T2_sprocket" child="$(arg prefix)end_effector_2" name="$(arg prefix)T2_sprocket_end_effector_2"/>
  <xacro:gripper name="$(arg prefix)end_effector_2"/>

  <xacro:output rot="-1.5708 -0.7854 -0" trans="-0.320 0.220 -0.0638" parent="$(arg prefix)chassis" child="$(arg prefix)T3_mount" name="$(arg prefix)chassis_T3_mount"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T3_mount"/>
  <xacro:output parent="$(arg prefix)T3_mount" child="$(arg prefix)T3_J1_interface" name="$(arg prefix)T3_mount_T3_J1_flipper"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T3_J1_interface"/>
  <xacro:actuator type="R25_40" reverse="true" name="$(arg prefix)T3_J1_flipper" parent="$(arg prefix)T3_J1_interface" child="$(arg prefix)T3_track_frame"/>
  <xacro:rigid-body mass="2.0" mesh_path="file://$(find hebi_description)/meshes/A-2684-01.stl" mesh_trans="-0.2 0 0.025" mesh_rot="3.1416 0 0" name="$(arg prefix)T3_track_frame"/>
  <xacro:output trans="-0.4039 0 0.052" rot="3.1416 0 3.1416" parent="$(arg prefix)T3_track_frame" child="$(arg prefix)T3_J2_track/body" name="$(arg prefix)T3_track_frame_T3_J2_track"/>
  <xacro:actuator type="R25_20" name="$(arg prefix)T3_J2_track" child="$(arg prefix)T3_sprocket"/>
  <xacro:rigid-body mass="0.2" mesh_path="file://$(find hebi_description)/meshes/PM-3346-01.stl" name="$(arg prefix)T3_sprocket"/>
  <xacro:output parent="$(arg prefix)T3_sprocket" child="$(arg prefix)end_effector_3" name="$(arg prefix)T3_sprocket_end_effector_3"/>
  <xacro:gripper name="$(arg prefix)end_effector_3"/>

  <xacro:output rot="1.5708 -0.7854 0" trans="-0.320 -0.220 -0.0638" parent="$(arg prefix)chassis" child="$(arg prefix)T4_mount" name="$(arg prefix)chassis_T4_mount"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T4_mount"/>
  <xacro:output parent="$(arg prefix)T4_mount" child="$(arg prefix)T4_J1_interface" name="$(arg prefix)T4_mount_T4_J1_flipper"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)T4_J1_interface"/>
  <xacro:actuator type="R25_40" reverse="true" name="$(arg prefix)T4_J1_flipper" parent="$(arg prefix)T4_J1_interface" child="$(arg prefix)T4_track_frame"/>
  <xacro:rigid-body mass="2.0" mesh_path="file://$(find hebi_description)/meshes/A-2684-01.stl" mesh_trans="-0.2 0 0.025" mesh_rot="3.1416 0 0" name="$(arg prefix)T4_track_frame"/>
  <xacro:output trans="-0.4039 0 0.052" rot="3.1416 0 3.1416" parent="$(arg prefix)T4_track_frame" child="$(arg prefix)T4_J2_track/body" name="$(arg prefix)T4_track_frame_T4_J2_track"/>
  <xacro:actuator type="R25_20" name="$(arg prefix)T4_J2_track" child="$(arg prefix)T4_sprocket"/>
  <xacro:rigid-body mass="0.2" mesh_path="file://$(find hebi_description)/meshes/PM-3346-01.stl" name="$(arg prefix)T4_sprocket"/>
  <xacro:output parent="$(arg prefix)T4_sprocket" child="$(arg prefix)end_effector_4" name="$(arg prefix)T4_sprocket_end_effector_4"/>
  <xacro:gripper name="$(arg prefix)end_effector_4"/>
</robot>
