<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" description="Tready" name="Tready">
  <xacro:arg name="prefix" default=""/>
  <!-- HEBI Tready Arm Kit -->
  <xacro:include filename="$(find hebi_description)/urdf/components/hebi.xacro"/>
  <xacro:rigid-body mass="10" mesh_path="file://$(find hebi_description)/meshes/A-2362-01.obj" mesh_rot="0 0 0" mesh_trans="0 0 0" name="$(arg prefix)rigid_body_1"/>
  <xacro:output rot="1.5708 -0.7854 3.1416" trans="0.2057 0.1400 -0.0408" parent="$(arg prefix)rigid_body_1" child="$(arg prefix)rigid_body_2" name="$(arg prefix)rigid_body_1_rigid_body_2"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)rigid_body_2"/>
  <xacro:output parent="$(arg prefix)rigid_body_2" child="$(arg prefix)T1_J2_track/body" name="$(arg prefix)rigid_body_2_T1_J2_track"/>
  <xacro:actuator type="R8_16" reverse="true" name="$(arg prefix)T1_J2_track" child="$(arg prefix)rigid_body_3"/>
  <xacro:rigid-body mass="1.5" mesh_path="file:://$(find hebi_description)/meshes/A-2364-01.obj" mesh_trans="-0.136 0 -0.023" mesh_rot="3.1416 0 0" name="$(arg prefix)rigid_body_3"/>
  <xacro:output trans="-0.275 0 0.037" rot="3.1416 0 3.1416" parent="$(arg prefix)rigid_body_3" child="$(arg prefix)T2_J2_track/body" name="$(arg prefix)rigid_body_3_T2_J2_track"/>
  <xacro:actuator type="R8_9" name="$(arg prefix)T2_J2_track" child="$(arg prefix)rigid_body_4"/>
  <xacro:rigid-body mass="0.1" mesh_path="file://$(find hebi_description)/meshes/tready_drive_sprocket.obj" name="$(arg prefix)rigid_body_4"/>
  <xacro:output parent="$(arg prefix)rigid_body_4" child="$(arg prefix)end_effector_1" name="$(arg prefix)rigid_body_4_end_effector_1"/>
  <xacro:gripper name="$(arg prefix)end_effector_1"/>
  <xacro:output rot="-1.5708 -0.7854 -3.1416" trans="0.2057 -0.1400 -0.0408" parent="$(arg prefix)rigid_body_1" child="$(arg prefix)rigid_body_5" name="$(arg prefix)rigid_body_1_rigid_body_5"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)rigid_body_5"/>
  <xacro:output parent="$(arg prefix)rigid_body_5" child="$(arg prefix)T3_J3_track/body" name="$(arg prefix)rigid_body_5_T3_J3_track"/>
  <xacro:actuator type="R8_16" reverse="true" name="$(arg prefix)T3_J3_track" child="$(arg prefix)rigid_body_6"/>
  <xacro:rigid-body mass="1.5" mesh_path="file://$(find hebi_description)/meshes/A-2364-01.obj" mesh_trans="-0.136 0 -0.023" mesh_rot="3.1416 0 0" name="$(arg prefix)rigid_body_6"/>
  <xacro:output trans="-0.275 0 0.037" rot="3.1416 0 3.1416" parent="$(arg prefix)rigid_body_6" child="$(arg prefix)T4_J3_track/body" name="$(arg prefix)rigid_body_6_T4_J3_track"/>
  <xacro:actuator type="R8_9" name="$(arg prefix)T4_J3_track" child="$(arg prefix)rigid_body_7"/>
  <xacro:rigid-body mass="0.1" mesh_path="file://$(find hebi_description)/meshes/tready_drive_sprocket.obj" name="$(arg prefix)rigid_body_7"/>
  <xacro:output parent="$(arg prefix)rigid_body_7" child="$(arg prefix)end_effector_2" name="$(arg prefix)rigid_body_7_end_effector_2"/>
  <xacro:gripper name="$(arg prefix)end_effector_2"/>
  <xacro:output rot="-1.5708 -0.7854 -0" trans="-0.2057 0.1400 -0.0408" parent="$(arg prefix)rigid_body_1" child="$(arg prefix)rigid_body_8" name="$(arg prefix)rigid_body_1_rigid_body_8"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)rigid_body_8"/>
  <xacro:output parent="$(arg prefix)rigid_body_8" child="$(arg prefix)T1_J1_flipper/body" name="$(arg prefix)rigid_body_8_T1_J1_flipper"/>
  <xacro:actuator type="R8_16" reverse="true" name="$(arg prefix)T1_J1_flipper" child="$(arg prefix)rigid_body_9"/>
  <xacro:rigid-body mass="1.5" mesh_path="file://$(find hebi_description)/meshes/A-2364-01.obj" mesh_trans="-0.136 0 -0.023" mesh_rot="3.1416 0 0" name="$(arg prefix)rigid_body_9"/>
  <xacro:output trans="-0.275 0 0.037" rot="3.1416 0 3.1416" parent="$(arg prefix)rigid_body_9" child="$(arg prefix)T2_J1_flipper/body" name="$(arg prefix)rigid_body_9_T2_J1_flipper"/>
  <xacro:actuator type="R8_9" name="$(arg prefix)T2_J1_flipper" child="$(arg prefix)rigid_body_10"/>
  <xacro:rigid-body mass="0.1" mesh_path="file://$(find hebi_description)/meshes/tready_drive_sprocket.obj" name="$(arg prefix)rigid_body_10"/>
  <xacro:output parent="$(arg prefix)rigid_body_10" child="$(arg prefix)end_effector_3" name="$(arg prefix)rigid_body_10_end_effector_3"/>
  <xacro:gripper name="$(arg prefix)end_effector_3"/>
  <xacro:output rot="1.5708 -0.7854 0" trans="-0.2057 -0.1400 -0.0408" parent="$(arg prefix)rigid_body_1" child="$(arg prefix)rigid_body_11" name="$(arg prefix)rigid_body_1_rigid_body_11"/>
  <xacro:rigid-body mass="0.01" name="$(arg prefix)rigid_body_11"/>
  <xacro:output parent="$(arg prefix)rigid_body_11" child="$(arg prefix)T3_J1_flipper/body" name="$(arg prefix)rigid_body_11_T3_J1_flipper"/>
  <xacro:actuator type="R8_16" reverse="true" name="$(arg prefix)T3_J1_flipper" child="$(arg prefix)rigid_body_12"/>
  <xacro:rigid-body mass="1.5" mesh_path="file://$(find hebi_description)/meshes/A-2364-01.obj" mesh_trans="-0.136 0 -0.023" mesh_rot="3.1416 0 0" name="$(arg prefix)rigid_body_12"/>
  <xacro:output trans="-0.275 0 0.037" rot="3.1416 0 3.1416" parent="$(arg prefix)rigid_body_12" child="$(arg prefix)T4_J1_flipper/body" name="$(arg prefix)rigid_body_12_T4_J1_flipper"/>
  <xacro:actuator type="R8_9" name="$(arg prefix)T4_J1_flipper" child="$(arg prefix)rigid_body_13"/>
  <xacro:rigid-body mass="0.1" mesh_path="file://$(find hebi_description)/meshes/tready_drive_sprocket.obj" name="$(arg prefix)rigid_body_13"/>
  <xacro:output parent="$(arg prefix)rigid_body_13" child="$(arg prefix)end_effector_4" name="$(arg prefix)rigid_body_13_end_effector_4"/>
  <xacro:gripper name="$(arg prefix)end_effector_4"/>
</robot>
